<!DOCTYPE html>

<html>
	<head>
		<title>New Cereal</title>
	</head>
	
	<body>
		<h1>Hey admin, new cereal details here!!</h1>
		<section>
			<form th:action="@{/admin/cereals/newCereal}" method="post" th:object="${newCereal}">
				<div>
					Cereal name: <span><input required type="text" th:field="*{name}"></span>
				</div>
				<div>
					Description: <span><textarea th:field="*{description}"></textarea></span>
				</div>
				<div>
					Flavor: <span><input type="text" th:field="*{flavor}"></span>
				</div>
				<div>
					Image location: <span></span><input type="text" th:field="*{fileName}"></span>
				</div>
				<button>Submit</button>
			</form>
		</section>
	</body>
</html>