body {
	background-color: 	#EAF7FB;
}

.banner {
    width: 100%;
    height: 400px;           /* scegli tu */
    background-image: url("/images/homeimagecropped.png");
    background-size: cover;  /* 🔥 */
    background-position: center;
}

.featured-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.featured-card img {
    width: auto;
    height: 300px;
    display: block;
}

.top-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.top-card img {
    width: auto;
    height: 300px;
    display: block;
}


