<!DOCTYPE html>

<html>
	<head>
		<title>Smiling Cereals</title>
	</head>
	
	<body>
		<header>
			<div th:if="${userDetails}">
				<span th:text="${userDetails.username}"></span>
				<a href="/logout">Logout</a>
			</div>
			<div th:unless="${userDetails}">
				<a href="/login">Login</a>
			</div>
		</header>	
		<h1>SMILING CEREALS</h1>
		<p>Let's try some mechanics, boyz</p>
		<section>
			<a href="/cereals">List of all cereals available</a>
			<a href="/admin/cereals/newCerealForm">Hey admin, create a new cereal</a>
			<a href="/register">Click here to test the registration</a>
		</section>
	</body>
</html>